{% load menu_tags %}

<div class="col-md-4">
    <ul id="{{ menu_slug }}" class="tree">
        {% for key, value in items.items %}
            <li>
                <a href="{{ value.menu_items__url|get_absolute_url:current_url }}">{{ value.menu_items__name }}</a>
                {% if value.menu_items__children %}
                    <span class="caret" id="span_{{value.menu_item__pk}}"></span>
                    {% draw_submenu value.menu_items__children current_url value.menu_item__pk %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
